/* shared styles */

* {
    font-family: 'Open Sans', sans-serif;
 }

 .btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
    color: aliceblue;
 }
 .pink {
    color: #E55473;
 }



/* header styles */
.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px 0px 200px;
    margin-bottom: 200px;
}

.title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin: 0;

}



     /* ------main-part------ */


     .featured {
        text-align: center;
        margin:0px 200px 200px 200px;       
     }
     .feature-title{
        font-size: 40px;
        font-weight: 800;
        margin: 0px;
     }
     .featured-imgs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        text-decoration: underline;
     }

     .f-image1 {
        border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15);
        padding: 110px 60px 0px 60px;
     }
     .f-image2 {
        border-radius: 300px 300px 0px 0px;
        background: rgba(5, 151, 160, 0.15);
        padding: 110px 60px 0px 60px;
     }
     .f-image3 {
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
        padding: 100px 60px 0px 60px;
     }

.seasonal-flower {
    margin-bottom: 200px;
    text-align: center;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 70px;
    padding-bottom: 70px;
}

.july-flowers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flower-name{
    font-size: 20px;
    font-style: 600;
}



 .hot-deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    padding: 100px 200px;
    margin-bottom: 200px;
 }


.free-delivery {
    text-align: center;
    background-image: url('../asset/background.jpg');
    padding-top: 150px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 200px;
}

.insta {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.insta-img {
    display: flex;
    justify-content: space-between;
   
}


.subscribe {
    text-align: center;
    background-image: url('../asset/Rectangle\ 9.png');
    background-size:100%;
    margin: 200px;
    padding-top: 90px;
    padding-bottom: 110px;
    background-repeat: no-repeat;
}
.deal-title {
    margin: 0px;
}
.subscribe-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.email {
    height: 40px;
    width: 500px;
    margin-right: 10px;
}
.btn-subscribe {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 23px;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    color: aliceblue;
}

/* footer-- */
.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 120px;
}
.footer-title {
    color: #E55473;
    font-size: 38px;
    font-weight: 800;
    margin: 0px;
}

.footer-white {
    color: white;
}