/* shared styles */

* {
    font-family: 'Open Sans', sans-serif;
 }

 .btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
    color: aliceblue;
 }



/* header styles */
.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px 0px 100px;
}

.title {
    color: #272727;
    font-size: 60px;
    font-weight: 700;
    margin: 0;

}