/* shared styles */

* {
    font-family: 'Open Sans', sans-serif;
 }

 .btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
 }



/* header styles */
.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    margin: 0;

}

.header-img {
    width: 635px;
    height: 800px;
}